<div class="container">
  <div class="bg-light">
    <swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" class="my-slider">
      <ng-template *ngFor="let item of data" swiperSlide>
        <div class="my-slider__card">
          <div class="my-slider__card-body">
            <img [src]="item.banner1" alt="" />
            <h1>{{ item.title }}</h1>
          </div>
        </div>
      </ng-template>
    </swiper>

    <button (click)="slidePrev()" class="btn btn-primary my-slider__prev-btn">Prev</button>
    <button (click)="slideNext()" class="btn btn-primary my-slider__next-btn">Next</button>
  </div>
</div>
